<div id="box">
    <div class="nav-icon"></div>
    <div class="nav-items">
        <a>
            <div class="tab">
                <div class="svg"></div>
                <div class="name">
                    <p>Home</p>
                </div>
            </div>
        </a>
        <a>
            <div class="tab">
                <div class="svg"></div>
                <div class="name">
                    <p>My Posts</p>
                </div>
            </div>
        </a>
        <a>
            <div class="tab">
                <div class="svg"></div>
                <div class="name">
                    <p>Liked Posts</p>
                </div>
            </div>
        </a>
        <a>
            <div class="tab">
                <div class="svg"></div>
                <div class="name">
                    <p>About Us</p>
                </div>
            </div>
        </a>
    </div>
</div>