<link rel="stylesheet" href="/styles/layout.css">
<link rel="stylesheet" href="/styles/topbar.css">

<div id="top">
    <div id="greet">
        <p>Hello <%= user.first_name %>!!</p>
    </div>
    <div id="create">
        <a href="/create">
            <button>
                Write a New Post
            </button>
        </a>
    </div>
</div>