<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web Blog Application - About Us</title>
    <link rel="stylesheet" href="/styles/themes/light-theme.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="header">
            <%- include("partials/header.ejs") %>
        </div>     
        <div id="blog">
            <div id="sidebar">
                <%- include("partials/sidebar.ejs")  %>
            </div>
            <div id="content">
                <div class="user-topbar">
                    <%- include("partials/user_topbar") %>
                </div>
                <div class="about-info">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci consectetur neque vero nam totam iure enim incidunt, 
                        temporibus deleniti iusto sunt at minus assumenda nihil velit libero. Ad veritatis dicta enim reprehenderit earum temporibus maxime 
                        facilis facere eum deleniti, nihil doloremque consectetur minus perferendis perspiciatis? Laudantium porro minus nihil, 
                        harum nam deleniti nesciunt consequatur iste quam esse expedita eos, eligendi sit, incidunt repellendus quidem dolorem ducimus soluta 
                        perspiciatis placeat ipsum. Explicabo ea dicta maxime nam laudantium excepturi quibusdam est architecto. Nulla corrupti non eius ut 
                        dolore molestias ipsam vitae nihil porro magni officia, voluptas placeat, totam nesciunt ratione dicta velit.
                    </p>
                </div>
            </div>
        </div>
        <div id="footer">
            <%- include("partials/footer.ejs") %>
        </div>
    </div>

</body>
</html>