<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web Blog Application - Contact</title>
    <link rel="stylesheet" href="/styles/themes/light-theme.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/contact.css">
</head>
<body>
    <div id="main">
        <div id="header">
            <%- include("partials/header.ejs") %>
        </div>     
        <div id="blog">
            <div id="sidebar"></div>
            <div id="content">
                <div class="contact-info">
                    <div class="contact-details">
                        <p>Name: ABC</p>
                        <p>Contact Number: xxxxxxxxxx</p>
                        <p>Address: India</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <%- include("partials/footer.ejs") %>
        </div>
    </div>
</body>
</html>