.blog {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0;
}

.no-post {
    border: 2px dashed var(--no-post-border);
    color: var(--no-post-text);
    background-color: var(--no-post-bg);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 60%;
    margin: 60px auto;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}
