html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

#main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header{
    flex-shrink: 0;
}

#blog{
    flex: 1;
    display: flex;
    padding: 1rem;
}

#sidebar{
    width: 250px;
    padding: 0 1rem 0 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);

}

#content{
    flex: 1;
    padding: 1rem;
}

.user-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#footer{
    flex-shrink: 0;
}