.create-post-content{
    flex: 1;
}

.post {
    max-width: 600px;
    margin: 50px auto; 
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.post > div{
    margin-bottom: 20px;
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-color);
    font-size: 1rem;
}

label[type="text"], textarea{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--accent-color);
    border-radius: 6px;
    box-sizing: border-box;
    resize: vertical;
    border: none;
    outline: none;
}

input:focus, textarea:focus{
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

.submit-Btn{
    display: flex;
    justify-content: center;
}

.submit-Btn .submit{
    background: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.submit-Btn .submit:hover{
    background-color: var(--dark-blue);
}