#top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 0 0 0 10px;
    width: 100%;
}

#greet p {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}

#create{
    align-items: end;
}

#create button{
    background: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

#create button:hover{
    background-color: var(--dark-blue);
}
